



<!-- INTEREST SECTION -->
<form action ="setaccount" method="post">
  <section class="clearfix interestArea">
    <div class="container">
      <div class="page-header text-center">
        <h2>First time here? <small>Please tell us what you came here for</small></h2>
      </div>
      <div class="row">
        <div class="col-sm-offset-3 col-sm-3 col-xs-12">
          <a href="#" class="interestContent">
            <input type="radio" value="1" name="profile[account_type]" id="profile_account_type_1" />
            <span>
              <i class="fas fa-suitcase"></i>
              Travel
          </a>
        </div>
        <div class="col-sm-3 col-xs-12">
          <a href="#" class="interestContent">
            <input type="radio" value="2" name="profile[account_type]" id="profile_account_type_2" />
            <span>
              <i class="fas fa-home"></i>
              Host
            </span>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-offset-4 col-sm-4 col-xs-12" style="text-align: center">
          <label for="profile[first_name]">Please enter your first name</label>
          <input type="text" class="form-control " name="profile[first_name]"/>
          <input type="submit" class="text-center btn btn-default btn-primary" style="margin-top: 15px"/>
        </div>
      </div>
    </div>
  </section>

  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

</form>

<script type="text/javascript">

  function resetchoices(){
    document.querySelectorAll(".interestContent").forEach((choicebox) => {
      choicebox.classList.remove("choice-selected");
    });
  };

  document.querySelectorAll(".interestContent").forEach((choicebox) => {
    choicebox.addEventListener("click", (event) => {
      resetchoices();
      event.currentTarget.classList.add("choice-selected");
      choicebox.querySelector("input").checked = true;
    });
  });
</script>
