



<!-- INTEREST SECTION -->
<form action ="setaccount" method="post">
  <section class="clearfix interestArea">
    <div class="container">
      <div class="page-header text-center">
        <h2>First time here? <small>Please tell us what you came here for</small></h2>
      </div>
      <div class="row">
        <div class="col-sm-offset-3 col-sm-3 col-xs-12">
          <a href="#" class="interestContent">
            <input type="radio" value="1" name="profile[account_type]" id="profile_account_type_1" />
            <span>
              <i class="fas fa-suitcase"></i>
              Travel
            </span>
          </a>
        </div>
        <div class="col-sm-3 col-xs-12">
          <a href="#" class="interestContent">
            <input type="radio" value="2" name="profile[account_type]" id="profile_account_type_2" />
            <span>
              <i class="fas fa-home"></i>
              Host
            </span>
          </a>
        </div>
      </div>
      <div class="form-group col-xs-12">
        <input type="text" class="" name="profile[first_name]"/>
      </div>
      <div class="form-group col-xs-12">
        <input type="submit" class="text-center btn btn-default btn-primary"/>
      </div>
    </div>
  </section>

  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

</form>

<script type="text/javascript">

  function resetchoices(){
    document.querySelectorAll(".interestContent").forEach((choicebox) => {
      choicebox.classList.remove("choice-selected");
      console.log("ooo");
    });
  };

  document.querySelectorAll(".interestContent").forEach((choicebox) => {
    choicebox.addEventListener("click", (event) => {
      resetchoices();
      event.currentTarget.classList.add("choice-selected");
      choicebox.querySelector("input").checked = true;
      console.log("aa");
    });
  });
</script>
