<section class="clearfix bg-dark equalHeight dashboardSection">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default panel-card">
          <div class="panel-heading" id="message">
            Messages <span class="label label-default label-sm">3 New</span> <a href="" class="btn label label-primary">Send Message</a>
          </div>
          <div class="panel-body panel-message">
            <ul class="list-unstyled panel-list">
              <% if not @conversations.nil? %>
                <% @conversations&.each do |conversation| %>
                <%= render 'message_preview', message: conversation&.messages&.last, conversation: conversation %>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

