<div class="main-wrapper">
<section class="clearfix bg-dark listyPage">
  <div class="container booking-list">
    <div class="row">
      <div class="col-xs-12">
        <div class="dashboardPageTitle">
          <h2>My Bookings</h2>
        </div>
        <div class="table-responsive"  data-pattern="priority-columns">
          <table class="table listingsTable">
            <thead>
              <tr class="rowItem">
                <th data-priority="">Bookings</th>
                <th data-priority="1"><%= current_user.profile.account_type == 1 ? "Owner" : "Requested by"%></th>
                <th data-priority="6"></th>
                <th data-priority="3">Start Date</th>
                <th data-priority="4">End Date</th>
                <th data-priority="5">Status</th>
              </tr>
            </thead>
            <tbody>
              <% if not @bookings.nil? %>
                <% @bookings.each do |booking| %>
                  <% if current_user.profile.account_type == 1 %>
                    <% user = booking.apartment.user %>
                  <% else %>
                    <% user = booking.user %>
                  <% end %>
                  <%= render 'booking', booking: booking, user: user %>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
