
  <!-- SITE TITTLE -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Léo & Colette</title>

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- PLUGINS CSS STYLE -->
  <link href="http://leocolette.herokuapp.com/plugins-theme/jquery-ui/jquery-ui.min.css" rel="stylesheet">
  <!--<link href="http://leocolette.herokuapp.com/plugins-theme/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
  <link href="http://leocolette.herokuapp.com/plugins-theme/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="http://leocolette.herokuapp.com/plugins-theme/listtyicons/style.css" rel="stylesheet">
  <!-- <link href="http://leocolette.herokuapp.com/plugins-theme/bootstrapthumbnail/bootstrap-thumbnail.css" rel="stylesheet"> -->
  <link href="http://leocolette.herokuapp.com/plugins-theme/datepicker/datepicker.min.css" rel="stylesheet">
  <link href="http://leocolette.herokuapp.com/plugins-theme/selectbox/select_option1.css" rel="stylesheet">
  <link href="http://leocolette.herokuapp.com/plugins-theme/owl-carousel/owl.carousel.min.css" rel="stylesheet">
  <link href="http://leocolette.herokuapp.com/plugins-theme/fancybox/jquery.fancybox.min.css" rel="stylesheet"/>
  <link href="http://leocolette.herokuapp.com/plugins-theme/isotope/isotope.min.css" rel="stylesheet">
  <link href="http://leocolette.herokuapp.com/plugins-theme/map/css/map.css" rel="stylesheet">
  <link href="http://leocolette.herokuapp.com/plugins-theme/rateyo/jquery.rateyo.min.css" rel="stylesheet">
  <link href="http://leocolette.herokuapp.com/plugins-theme/animate/animate.css" rel="stylesheet">

  <!-- GOOGLE FONT -->
  <link href="https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff" rel="stylesheet">

  <!-- CUSTOM CSS -->
  <link href="http://leocolette.herokuapp.com/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="http://leocolette.herokuapp.com/css/default.css" id="option_color">


  <!-- FAVICON -->
  <link href="img/favicon.png" rel="shortcut icon">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
