<!-- PAGE TITLE SECTION -->
<section class="clearfix pageTitleSection" style="background-image: url();">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="pageTitle">
          <h2>Meet the team</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- TEAM SECTION -->

<!-- USER PROFILE SECTION -->
<section class="user-profile-section bg-light">
  <div class="container">

    <div class="user-profile">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="user-img">
            <img src="julia.jpeg" alt="User Image">
          </div>
        </div>
        <div class="col-xs-12 col-sm-8">
          <div class="user-profile-content">
            <h3 class="user-name">Julia Pfimlin</h3>
            <p>Julia is our crazy touch : she always has original ideas, and can all of a sudden find a whole new aspect of our project that we did not explore, and a new and easier way to develop it. This year, she was the Director and Co-Scriptwriter of Music’All, a musical produced by students, including children with disabilities, and gathering more than 2000 spectators each year. Julia managed nearly 80 persons for this project, making her a great project manager as well as giving her a great sense of people. She has volunteered in many associations before, and is aware of the issues encountered by people with difficulties. Having worked 1 year in London for Salesforce, she excells in sales management. She is also a start-up lover, participating last summer in the launch of a business in Hong-Kong. She is finally our international asset, having lived in more than 5 different countries, speaking 3 languages fluently and being a travel-addict.
            Julia is in charge of the business development and finance of the project, as well as helping with the overall coordination of the business.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="user-profile">
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <div class="user-profile-content">
            <h3 class="user-name">Louis Mainbourg</h3>
            <p>Louis is our communication man. As a former radio speaker in Congo, he always finds the right formulation, naming or simple way to make the project accessible to the more persons possible, often with humor or subtlety. He has occupied several positions, in agencies or in companies, dealing with international marketing and communication of the brands, as well as the brands strategy and identity. He is currently the community manager of A Bras Ouverts, a 30-year-old association that takes children and young adult with mental disabilities for weekends or holidays, giving him a strong sense of social action. He is also a great project and sponsoring manager, as he was in charge this year of a team of 20 people participating at the EDHEC Sailing Cup, he built up his team and managed to get 15 000€ of sponsoring from scratch. Like Océane, he is also a scout chief of 8 young men between 17 and 20 years old.
            Louis is in charge of the marketing and communication of the project, as well as helping with the fundraising and overall coordination of the business.
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="user-img">
            <img src="louis.jpeg" alt="User Image">
          </div>
        </div>
      </div>
    </div>

     <div class="user-profile">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="user-img">
            <img src="oceane.jpeg" alt="User Image">
          </div>
        </div>
        <div class="col-xs-12 col-sm-8">
          <div class="user-profile-content">
            <h3 class="user-name">Océane Durand</h3>
            <p>
            Océane is a woman that never loses her enthusiasm. Her smile has brightened our project through the months, and her never-ending motivation helped us to overcome the difficulties, when there was some, in a very positive way. She has a very strong sense of social action and is engaged in several associations, with management positions each time. This year, she was the manager of 15 musicians in an orchestra in Lille, as well as a scouts chief, managing 8 girls between 18 and 20 years old. She also has some coding skills, which helped us creating our first platform, before needing the help of a professional developer. Finally, her past professional experience in marketing and in project management is of a great help for us. She brings her professionalism, her rigour as well as her sense of deadlines and getting things done.
            Océane is in charge of the UX design and some of the technical aspects of the project, as well as helping with marketing and the overall coordination of the business.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="user-profile">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="user-profile-content">
          <h3 class="user-name">Adrien du Peloux</h3>
          <p>Adrien is the developer of the platform. Adrien has a hybrid background, his profile is both business oriented as well as technical. He has participated in the launching of an e-learning platform, GetPro, where he learnt the basics of the “growth hacking” required to launch a digital product. He studied at EDHEC Business School where he met the founders of Léo & Colette from the Entrepreneurship programme. He gained his technical background by learning coding on the internet as well as by participating in the coding bootcamp “Le Wagon” where he learnt all the aspects of app development with the framework Ruby on Rails. In parallel with  the Grande Ecole programme of EDHEC, he followed the Msc in Data Analytics & Digital Business from the same school to strengthen his technical background and gain data analytics skills.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="user-img">
          <img src="adrien.jpeg" alt="User Image">
        </div>
      </div>
    </div>
  </div>



  </div>
</section>
