<div class="wrapper" id="banner">
  <div class="container">
    <h1>Léo & Colette</h1>
    <p>Social service</p>
    <p><%= link_to "Browse apartments", apartments_path, :class => "btn btn-primary" %></p>
  </div>
</div>
