<!-- BANNER SECTION -->
<section class="clearfix homeBanner" style="background-image: url(banner2.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="banerInfo">
          <h1>Meet another generation.</h1>
          <p>Léo & Colette is the new service creating links across generations</p>
          <form class="form-inline" action="listing-sidebar-map-left.html" method="">
            <div class="form-group search-bar-home">
              <div class="input-group">
                <div class="input-group-addon">Near</div>
                <input type="text" class="form-control" id="nearLocation" placeholder="Location">
                <div class="input-group-addon addon-right"><i class="icon-listy fas fa-map-marker-alt"></i></div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Search <i class="fa fa-search" aria-hidden="true"></i></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <%= image_tag "home1.jpg", class: "img-home" %>
    </div>
    <div class="col-sm-7 text-left">
      <p class="home-value-proposal">
      Léo & Colette is an intergenerational couchsurfing platform based on trust. The venture provides an online platform where the host offers a place to stay overnight at a cheap fixed price of 6 euros. The target host is a retired person who lives by him/herself and owns an extra bedroom.<br/><br />

      The platform is based on trust, connecting different generations.
      Young people from around 18 to 30 can travel and stay at retired people house for a really small
      fee. They can look online to find and choose the place they want to stay at.
      </p>
    </div>
  </div>
</div>




