<section class="clerfix categoryGrid">
  <div class="container">
    <h1>Results for <%= params[:city].to_s %></h1>
    <div class="row" style="padding-top: 10px">
      <% @apartments.each do |apartment| %>
        <%= render 'shared/card_theme', apartment: apartment %>
      <% end %>
    </div>
  </div>
</section>
