 <% if policy(@apartment).create? %>
  <%= link_to "Mettre mon appartement en ligne", new_apartment_path, :class => "btn btn-primary" %>
 <%end%>

<div class="container">
  <div class="row">
    <% @apartments.each do |apartment| %>
      <div class="col-xs-12 col-sm-4">
        <%= render 'shared/card', apartment: apartment %>
      </div>
    <% end %>
  </div>
</div>
